* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#body h1 {
  font-size: 4.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: burlywood;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.container {
  width: 90%;
  max-width: 450px;
  height: 320px;
  border: 1px solid black;
  box-shadow: 10px 15px 21px 3px rgba(171, 171, 171, 1);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  transform: scale(1.02);
}

.container h3 {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 1rem;
  margin-left: 10px;
}

#select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.from-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  gap: 0.5rem;
}

#search-input,
#bttn,
#result {
  width: 90%;
  max-width: 390px;
  height: 2rem;
  font-size: 1.2rem;
}

#bttn {
  color: black;
  background-color: burlywood;
  opacity: 0.5;
  transition: opacity 0.3s;
}

#bttn:hover {
  opacity: 1;
}

#result {
  border: 1px solid black;
}

/* Responsive Design */
@media only screen and (max-width: 420px) {
  h1 {
    font-size: 3rem;
  }

  .container {
    width: 95%;
    height: auto;
    padding: 1rem;
    box-shadow: none;
  }
  #search-input {
    margin-top: 15px;
    padding-top: 5px;
  }
  #search-input,
  #bttn,
  #result {
    width: 95%;
  }

  #select-container {
    gap: 2rem;
  }
}
